section {
  padding: 0 0 4rem 0;
  margin: 0;
  width: var(--section-width);
}

.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--section-width);
  justify-content: center;
  padding: 0 1rem;
}
.footer {
  width: var(--section-width);
  padding: 4rem 0 2rem 0;
  text-align: center;
}
.list-grid {
  /**
     * User input values.
   */
  --grid-layout-gap: 0rem;
  --grid-column-count: 2; /* This gets overridden by an inline style. */
  --grid-item--min-width: 8rem; /* This gets overridden by an inline style. */

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
}

.overlap{
  display: block;
}

.overlap:first-of-type {
  margin-bottom: -2.5rem; /* Adjust the overlap value */
}

.overlap:last-of-type {
  margin-top: -2.5rem; /* Adjust the overlap value */
}

.section-header {
  display: flex;
  align-items: center;
}
.section-header::after{
  content: '';
  flex: 1;
  margin-left: 1rem;
  height: 1px;
  background-color: rgba(255,255,255,.5);
}
#welcome {
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: flex-start;
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
}

.about-text{
  text-align: right;
  margin-top: 6.5rem;
}

@media screen and (max-width: 1200px) {
  .grid{
    grid-template-columns: 1fr;
  }
  .about-text{
    text-align: left;
    margin-top: 0;
  }
  #welcome{
    padding-bottom: 10rem;
  }
}

#contact-me-div {
  padding: .8rem 1.6rem;
  margin: 2rem 0 0 0;
  max-width: 6rem;
}
#resume-button-wrapper {
  display: flex;
  justify-content: center;
}
#resume-button {
  display: block;
  width: 6rem;
  text-align: center;
  div{
    padding: .5rem;
  }
}
