@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import '../style.css';

.notfound-container {
    text-align: center;
    font-size: 1.75rem;
    margin-top: 4rem;
}