<div class="section-box" role="main">
  <section id="section-welcome">
    <h2 class="header-medium text-glow">Hey there, my name is</h2>
    <h1 class="header-large no-margin">Anthony Almanza.</h1>
    <h2 class="header-large no-margin">I create things for the internet.</h2>
    <p>
      I'm a full-stack software engineer located in the US. I have a passion for technology
      and solving problems, most of the time with software 😁.
    </p>
  </section>
  <section id="section-about">
    <h1>About me</h1>
    <p>
      My interest in software development first sparked in middle school making simple Lua scripts for an MMO. This eventually
      led me to creating mods for some of mym favorite games at the time, fast-forward a few years to me going to college for
      Computer Science.
      <br><br>
      After college I jumped head first into software development and have been working as a software engineer ever since.
      Who would've guessed that making my characters spam messages in chat with a hotkey would've led me down this path.
    </p>
  </section>
  <section id="section-experience">
    <h1>What I've Used.</h1>
    <p>
      I'm always excited to learn about new technologies to add to my skill-set.
      Throughout my career I've had the opportunity to use some fun technologies to accomplish my goals. These ranging from
      front-end frameworks to back-end technologies, and all the tooling in-between.
      <br><br>
      Here are a few of the technologies I've been working with recently:
    </p>
    <ul class="list-grid">
      <li>C#</li>
      <li>.NET</li>
      <li>Javascript</li>
      <li>Typescript</li>
      <li>Angular</li>
      <li>HTML/CSS</li>
    </ul>
  </section>
  <section id="section-projects">
    <h1>My Work.</h1>
    <p>
      Fisher Investments - Software Engineer (July 2021 - Current)<br>
    </p>
    <ul>
      <li>Built multiple back-end services in .NET utilizing RabbitMQ to automate various tasks.</li>
      <li>Created deployment plans for back-end services using TeamCity and Octopus Deploy.</li>
    </ul>
    <p>
      Charles Schwab - Software Engineer (July 2018 - July 2021)<br>
    </p>
    <ul>
      <li>Worked with a variety languages to create a full end to end application utilizing multiple RESTful web services
        built in C#/.NET, and Angular for the front-end application.</li>
      <li>Worked cross-functionally with multiple teams in order to create a great user experience for the application.</li>
      <li>Utilized test-driven development and behavior-driven development in order to help facilitate code quality and maintainability.</li>
    </ul>
  </section>
  <section id="section-contact">
    <h1>Contact Me.</h1>
    <p>Want to ask a question, or just say hi? Feel free to contact me on any of the following places.</p>
    <ul class="list-grid">
      <li><a href="mailto:Anthony.Almanza8@gmail.com" target="_blank">Email</a></li>
      <li><a href="https://www.linkedin.com/in/MarkAnthonyAlmanzaJr/" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/AnthonyAlmanza" target="_blank">GitHub</a></li>
      <li><a href="https://twitter.com/AnthonyAlmanza_" target="_blank">Twitter</a></li>
    </ul>
  </section>
</div>
<div class="footer">
  <a href="https://github.com/AnthonyAlmanza/My-Website" target="_blank">
    <div>Designed & Built by Anthony Almanza</div>
  </a>
</div>
