section {
  padding: 1rem 0;
  margin: 0;
  width: 100%;
}

.section-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 50rem;
  justify-content: center;
  padding: 0 1rem;
}

.footer {
  width: 100%;
  padding: 4rem 0 2rem 0;
  text-align: center;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(1rem, 8rem));
}

#section-welcome {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0;
}
