@media screen and (min-width: 1400px) {
  section {
    padding: 1%;
    max-width: 45%;
  }
}

.section-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  justify-content: center;
}

section {
  padding: 0 1% 0 0;
  width: 75%;
}

.list-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
}
