.section-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 87.5rem;
  justify-content: center;
}

section {
  padding: 1rem;
  max-width: 30rem;
}

.list-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
}

h1 {
  color: #ffc000;
}
