:root {
    --navbar-height: 4rem;
}

.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top */
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.navbar {
    display: flex;
    box-sizing: border-box;
    text-align: right;
    height: var(--navbar-height);
    width: var(--section-width);
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    text-align: left;
}
.logo-image {
    max-height: 2rem;
}

#navbar-link-container{
    flex-direction: row-reverse;
}

.navbar-link{
    font-size: 1.2rem;
}

.navbar-buffer {
    margin-top: var(--navbar-height);
}

@media screen and (max-width: 1200px) {
    .navbar {
        padding: 0 3rem;
    }
}
