body, html{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #081728;
  color: #f5f0f0;
}

a {
  text-decoration: underline;
  color: #84CDD3;
}

a:hover{
  color: #eea20f;
}

h1 {
  color: #84CDD3;
}
