body, html{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #083653;
  color: white;
}

a {
  text-decoration: underline;
  color: orange;
}
