@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body, html{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #121829;
  scroll-behavior: smooth
}

.header-medium {
  font-size: 1.75rem;
}
.header-large {
  font-size: clamp(2.5rem, 8vw, 3.5rem);
}
.text-size-med {
  font-size: 1.125rem;
}
.no-margin {
  margin: 0;
}
.button-highlight {
  border: 1px solid #E45946;
  border-radius: .2rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: color 150ms ease-in-out;
  color: #E45946;
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #E45946;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  &:hover {
    color: #081728;
    &:after {
      width: 110%;
    }
  }
}

.text-white {
  color: white;
}
.text-highlight{
  color: #E45946;
}
.text-off-white {

}
p {
  color: rgba(255,255,255,.5);
}
li {
  color: rgba(255,255,255,.5);
}
h1 {
  font-weight: bold;
  margin-bottom: 0;
}
h2 {
  color: rgba(255,255,255,.5);
}
a {
  color: #E45946;
  text-decoration: none;
}
a:hover{
  color: white;
}
